.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main{
    display: flex;
    justify-content: space-around;
}

.nome{
    font-family: 'League Spartan', sans-serif;
    font-size: 200px;
    text-align: center;
    color: var(--font-color);
    font-weight: bold;
    margin: 20px;
}

.descricao{
    font-size: 30px;
    text-align: justify;
    max-width: 600px;
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0 20px;
}

label{
    display: flex;
    justify-content: space-between;
    align-items: center;
}