:root{
    --black: #000;
    --verde-primario: #172018;
    --verde-secundario: #415d43;
    --font-color: #faebd7;
    --fundo: linear-gradient(0.25turn, var(--black), var(--verde-primario));
}

p, a, label{
    font-size: large;
    font-family: 'League Spartan', sans-serif;
}

h1, h2, h3, p{
    font-family: 'League Spartan', sans-serif;
}