.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*  FORMULÁRO  */

.form{
    display: flex;
    text-align: center;
}

input{
    border-radius: 10px;
    padding: 10px, 5px;
    margin-top: 10px;
}

/*  TEXTO DO INICIO  */

h1{
    font-size: 100px;
    padding: 0;
}

h2{
    font-size: 50px;
}