<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCC-Cadastro</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Pixelify+Sans:wght@400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/styles/config_forms.css">
    <link rel="stylesheet" href="/static/styles/reset.css">
    <link rel="stylesheet" href="/static/styles/var.css">
    <link rel="stylesheet" href="/static/styles/login.css">

</head>
<body>
    
<div class="parent">
    <div class="div1">Logo</div>
    <div class="div2" ><a class="a" href="/produtos/lista">Criar</a></div>
    <div class="div3" ><a class="a" href="">MGCouch</a></div>
    <div class="div4" ><a class="a" href="">Exercícios</a></div>
    <div class="div5" ><a class="a" href="">Treino</a></div>
</div>

<div class="content">
    <div class="text_login">
        <p>Conheça o</p>
        <p style="color: var(--verde-secundario);">MTC</p>
        <p class="p_text">O seu personal</p>
        <p class="p_text">particular</p>
    </div>
        
    <div class="form">
        <form action="">
            <input type="text" class="input_info" placeholder="Usuário">

            <br>
            <input type="password" class="input_info" placeholder="Senha">
            <br>
            <label for="senha" class="esqueceu_sua_senha">Já tem uma conta? <a href="/produtos/login">Acessar</a></label>

            <br>
            <input type="submit" class="input_button" name="logar" value="Logar">
        </form>
    </div>
</div>
</body>
</html>